PORT=3000
GEMINI_API_KEY=Your-Gemini-API-Key-Here
EMBEDDING_MODEL=Gemini-Embedding-Model-Name
EMBEDDING_DIMENSIONS=Embedding-Dimensions
SUPABASE_URL=SUPABASE-Project-URL
SUPABASE_KEY=SUPABASE-KEY(Publishable)
